.zip1-AWS-CLI-SETUP/aws/
1-AWS-CLI-SETUP/awscliv2.zip
1-AWS-CLI-SETUP/awscliv2.zip
1-AWS-CLI-SETUP/aws/
.venv/
venv/
credentials
cred.sh
__pycache__/
.ds_store
.DS_Store
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.db
*.db-journal
*.bak
*.backup
*.swp
*.swo
*.tmp
*.temp
*.log
*.out
*.err
*.pid
*.seed
*.pid.lock
*.gz
*.zip
*.tar
*.rar
*.7z
*.log
*.out

# Microsoft Office temporary files
~$*.doc*
~$*.xls*
~$*.ppt*

# General temporary files starting with ~
~*

gh.sh
